# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore local files
terraform.tfvars
*.log
*.tfout

# Ignore .env file containing terraform secrets
.env

# Ignore macOS system files
.DS_Store
